*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  background: white;
}
.rainbow{
  height: 200px;
  overflow: hidden;
}
.rainbow div{
  overflow: hidden;
}
.rainbow > div{
  width: 400px;
  height: 400px;
  background: hsl(0,100%,50%);
  border-radius: 50%;
}
.rainbow > div >div{
  height: 360px;
  margin: 20px;
  background: hsl(30,100%,50%);
  border-radius: 50%;
}
.rainbow > div >div >div{
  height: 320px;
  margin: 20px;
  background: hsl(60,100%,50%);
  border-radius: 50%;
}
.rainbow > div >div >div >div{
  height: 280px;
  margin: 20px;
  background: hsl(120,100%,50%);
  border-radius: 50%;
}
.rainbow > div >div >div >div >div{
  height: 240px;
  margin: 20px;
  background: hsl(180,100%,50%);
  border-radius: 50%;
}
.rainbow > div >div >div >div >div >div{
  height: 200px;
  margin: 20px;
  background: hsl(240,100%,50%);
  border-radius: 50%;
}
.rainbow > div >div >div >div >div >div >div{
  height: 160px;
  margin: 20px;
  background: hsl(300,100%,50%);
  border-radius: 50%;
}
.rainbow > div >div >div >div >div >div >div >div{
  height: 120px;
  margin: 20px;
  background: white;
  border-radius: 50%;
}